@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bgColor min-h-screen grid place-items-center px-4 tracking-wider font-mono;
  }
}

html {
  overflow-y: scroll;
}

h1 {
  @apply text-2xl font-bold text-slate-400;
}

h3 {
  @apply text-xl font-bold text-slate-400;

}

h5 {
  @apply text-lg text-slate-400;
}

.md-editor ul {
  @apply list-disc pl-6 text-slate-400;
}

.md-editor p {
  @apply text-slate-400;
}

.md-editor a {
  @apply text-mainColor transition-colors duration-300 hover:underline;
}

.md-editor hr {
  @apply my-2
}

.background {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: sticky;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242933;
  opacity: 1;
  background-image: radial-gradient(#534073 1.05px, #242933 1.05px);
  background-size: 21px 21px;
  z-index: -1;
}